[PATHS]
INPUT=./inputs/prueba.mp4
OUTPUT=./outputs
LOG=./logs

[OPTIONS]
LOGGING=TRUE
RECORDING=TRUE
DISPLAY=TRUE
SHOW_FPS=TRUE
SHOW_DATETIME=TRUE
SHOW_DESCRIPTION=TRUE

[PARAMS]
RECORDING_RESIZE_FACTOR=0.5
DISPLAY_RESIZE_FACTOR=0.5
MODEL=Efficient-Large-Model/VILA1.5-3b
QUERY=<image>\n Please describe the image in one line.